@model IEnumerable<TimeApp.Models.Item>

@{
    ViewBag.Title = "TO DO";
}

<div class="row">
    <div class="col-md-6">
        <h1></h1>
        <!--<p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865"> Nowe zadanie &raquo;</a></p> -->
        @Html.ActionLink("Nowe zadanie", "Create", "Items") 
    </div>
    <div class="col-md-6">
        <h1></h1>
        <p class="small">
            Nigdy nie ma wystarczającej ilości czasu, by zrobić <b>wszystko</b>, <br />
            ale zawsze jest wystarczająca ilość, by zrobić to, co <b>najważniejsze</b>.
        </p>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Dziś: <scan class="small">@DateTime.Today.ToString("D")</scan> </h2>
        <div>
            <ul>
                <li>zad 1</li>
                <li>zad 2</li>
                <li>zad 3</li>
                <li>zad 4</li>
                <li>zad 5</li>
            </ul>
        </div>
    </div>
    <div class="col-md-4">
        <h2>Ten tydzień:</h2>
        <div>
            <ul>
                <li>zad 1</li>
                <li>zad 2</li>
                <li>zad 3</li>
                <li>zad 4</li>
                <li>zad 5</li>
            </ul>
        </div>
    </div>
    <div class="col-md-4">
        <h2>Brak terminu</h2>
        <div>
            <ul>
                <li>zad 1</li>
                <li>zad 2</li>
                <li>zad 3</li>
                <li>zad 4</li>
                <li>zad 5</li>
            </ul>
        </div>
        <!--<p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Zaplanuj &raquo;</a></p>-->
        @Html.ActionLink("Zaplanuj", "Index", "Items")
    </div>
</div>